body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.product-img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}

/* product.css */

.product-img {
    width: 100%;
    height: auto;
}

.color-button {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    margin-right: 5px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}